@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Kanit', sans-serif;
}

:root { --brand: #006359; }
body { background: #f7faf9; }

:root{
  --el-color-primary:#006359;          
  --el-border-radius-base:16px;        
  --el-border-radius-small:14px;
  --el-border-radius-round:9999px;
}

.el-card{ border-radius: var(--el-border-radius-base); }
.el-button.is-round{ border-radius: 9999px; }
.el-tag{ border-radius: 10px; }
body{ background:#f5f7f8; } 